<div class="signup-page ">
  <div class="card">
    <div class="logo jj-wrap">
      <img class="pull-center" src="assets/img/NigComSat.jpeg" alt="" title="NigComSat" id="Img1" />
      <h3>RESELLER Registration</h3>
    </div>
    <div class="content-wrap">
      <form [formGroup]="customerForm" id="sign_up">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">location_city</i>
          </span>
          <div class="  ">
            <input type="text" class="form-control" placeholder="Company Name" required="" />
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">person</i>
          </span>
          <div class="">
            <input type="text" formControlName="surname" class="form-control" placeholder="Contact Person"
              required="autofocus" />
            <small [hidden]="customerForm.controls['surname'].valid || (customerForm.controls['surname'].pristine)">
              Username is required (minimum 3 characters).
            </small>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">location_on</i>
          </span>
          <div class="  ">
            <textarea type="text" class="form-control" style="  margin: 0px !important;
              min-width: 200px !important;
              height: 100px !important;
              outline: auto !important;
              padding: 10px !important;" placeholder="Address" required=""></textarea>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">phone</i>
          </span>
          <div class="  ">
            <input type="text" class="form-control" formControlName="telephone" placeholder="Telephone" required="" />
            <small [hidden]="customerForm.controls['telephone'].valid || (customerForm.controls['telephone'].pristine)">
              Telephone is required and format should be <i>08000000000</i>.
            </small>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">person</i>
          </span>
          <div class="">
            <input type="text" formControlName="otherNames" class="form-control"
              placeholder="Years of Experience as an ISP" required />
          </div>
        </div>
        <div class="upload-btn-wrapper">
          <button class="btnUpload">Please Upload a Copy of ISP Licence</button>
          <input type="file" name="myfile" />
        </div>
      </form>
    </div>
    <div class="content-wrap">
      <form [formGroup]="customerForm" id="sign_up">
        <!-- <div class="form-group">
          <input type="checkbox" required name="regPayment" id="regPayment" class="filled-in chk-col-pink" />
          <label for="regPayment">Registration Payment Made?</label>
        </div> -->
        <div class="input-group" style="margin-top:20px;">
          <div class="form-line">
            <input type="text" placeholder="Payment Remita RRR Code" required="" />
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">email</i>
          </span>
          <div class="  ">
            <input formControlName="email" type="email" class="form-control" placeholder="Email Address" required="" />
            <small [hidden]="customerForm.controls['email'].valid || (customerForm.controls['email'].pristine)">
              Email is required and format should be <i>john@doe.com</i>.
            </small>
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">lock</i>
          </span>
          <div class="  ">
            <input type="password" name="password" class="form-control" formControlName="password" minlength="6"
              placeholder="Password" required="" validateEqual="confirmPassword" reverse="true" />
            <small [hidden]="customerForm.controls['password'].valid || (customerForm.controls['password'].pristine)">
              Password is required
            </small>
            <small [hidden]="customerForm.controls['password'].valid ||  (customerForm.controls['password'].pristine)">
              Password mismatch
            </small>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="material-icons">lock</i>
          </span>
          <div class="  ">
            <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword"
              minlength="6" placeholder="Confirm Password" required="" validateEqual="password" />
            <small
              [hidden]="customerForm.controls['confirmPassword'].valid ||  (customerForm.controls['confirmPassword'].pristine)">
              Password mismatch
            </small>
          </div>
        </div>

        <div class="form-group">
          <input type="checkbox" required formControlName="accept" name="terms" id="terms"
            class="filled-in chk-col-pink" />
          <label for="terms">I read and agree to the <a href="#">terms of usage</a>.</label>
        </div>

        <button [class.disabled]="customerForm.valid === false || customerForm.controls['accept'].value !== true"
          (click)="signUp()" class="btn btn-block btn-lg bg-pink waves-effect" type="button">SIGN UP</button>
        <div class="m-t-25 m-b--5 align-center btm-actions">
          <a (click)="signIn()">Already a Resseller?</a>
        </div>
      </form>
    </div>
  </div>
</div>