
.input-group {
  margin-top: 20px !important;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px;
  margin: 20px;
  flex-direction: column;
  border-right:3px solid #ddd;
  img{
    width: 300px !important;
    height: 300px  !important;
  }
  h3{
    color: #0060b4;
  }
}

.content-wrap {
  margin: 10px;
  max-width: 300px;
  padding: 10px;
}

small {
  color: red;
  font-size: 65% !important;
  text-align: left !important;
}

.msg {
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}
