<section class="">
  <div class="container-fluid">
    <div class="block-header">
      <h2>PRODUCT LIST</h2>
    </div>

    <div class="row card">
      <div class="col m8 l9 s12 layout main-product">
        <div class="row row-clear row-product">
          <div [routerLink]="['/views/product-detail']" class="col l4 s6 waves-effect prodwrap">
            <div class="item-product">
              <img class="img" src="../../../../../assets/img/modem.jpg">
              <div class="prod-content">
                <h5 class="tittle truncate">Satellite Dish</h5>
                <strong class="price">$782.00</strong>
              </div>
            </div>
          </div>
          <div class="col l4 s6 waves-effect prodwrap">
            <div class="item-product">
              <div class="img">
                <i class="material-icons"> import_export </i>
                <h3>Home</h3>
                <h4>10Gb Bandwidth</h4>
                <small>1.5 Mbps Up-To-Speed</small>
                <h5>Monthly Subscription</h5>
              </div>
              <div class="prod-content">
                <hr>
                <strong class="price">$782.00</strong>
              </div>
            </div>
          </div>
        </div>

        <!-- pagination -->
        <div>
          <div class="wrap-pagination">
            <nav aria-label="Page navigation example" class="pagination-product">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                  <a class="page-link">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- pagination end -->
      </div>
      <div class="col m4 l3 s12 wrap-filter">
        <div class="content-filter search">
          <input type="text" class="searchInput" placeholder="Search Product">
          <i class="material-icons icon icons"> search</i>
        </div>
        <div class="content-filter">
          <h6 class="title">Categories</h6>
          <ul class="categories">
            <li class="active"><a>All</a></li>
            <li><a>Bandwidth</a></li>
            <li><a>Devices</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>