<section class="">
  <div class="container-fluid">
    <div class="block-header">
      <h2>PROFILE</h2>
    </div>

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="tp-act" *ngIf="doneEdit">
            <i (click)="onEditField()" class="material-icons modal-close-ico">edit</i>
          </div>
          <div class="prof-detail-wrap">
            <!-- image -->
            <div class="img-wrap">
              <div class="img-container">
                <img src="../../../../../assets/img/DSC_0291.jpg" alt="">
              </div>
              <div class="form-group">
                <label class="file-upload btn btn-primary" for="imgUpload">Upload Image
                  <input type="file" id="imgUpload">
                </label>
              </div>
            </div>

            <!-- profile detail -->
            <div *ngIf="doneEdit" style="margin-left: 100px; width: 700px !important;">
              <div class="rg-layout">
                <div class="rg-form-content">
                  <div class="">
                    <span>Surname:</span>
                    <h5>{{customer.surname}}</h5>
                    <!-- <div *ngIf="editFields" class="form-line input-group"><input class="form-control" placeholder="Surname" type="text"></div> -->
                  </div>
                  <div class="">
                    <span>Othername:</span>
                    <h5>{{customer.otherNames}}</h5>
                    <!-- <div *ngIf="editFields" class="form-line input-group"><input class="form-control" placeholder="Othername" type="text"></div> -->
                  </div>
                  <div class="">
                    <span>Email:</span>
                    <h5>{{customer.email}}</h5>
                    <!-- <div *ngIf="editFields" class="form-line"><input class="form-control" type="email"></div> -->
                  </div>
                </div>
                <br>
                <div class="rg-form-content">
                  <div class="">
                    <span>Tel:</span>
                    <h5>{{customer.telephone}}</h5>
                    <!-- <div *ngIf="editFields" class="form-line"><input class="form-control" type="number"></div> -->
                  </div>
                  <div class="">
                    <span>Profession:</span>
                    <h5>{{customer.profession}}</h5>
                    <!-- <div *ngIf="editFields" class="form-line"><input class="form-control" type="text"></div> -->
                  </div>
                  <div class="">
                    <span>Address:</span>
                    <h5>{{customer.address}}</h5>
                    <!-- <div *ngIf="editFields" class="form-line"><textarea style="height:100px !important;" class="form-control"></textarea></div> -->
                  </div>
                </div>
                <div *ngIf="editFields" class="col-xs-4">
                  <button (click)="onDoneEdit()" class="btn btn-block bg-blue waves-effect" type="submit">Update</button>
                </div>
                <br>
                <hr>
                <div class="rg-form-content">
                  <div class="">
                    <span>Password:</span>
                    <h5 *ngIf="donePasswordChange">***********</h5>
                    <div *ngIf="changePassword" class="form-line">
                      <input name="current" [(ngModel)]="currentPassword" class="form-control" type="password">
                    </div>
                  </div>
                  <div *ngIf="changePassword" class="">
                    <span>Confirm Password:</span>
                    <div class="form-line">
                      <input name="password" [(ngModel)]="password" class="form-control" type="password">
                    </div>
                  </div>
                  <button *ngIf="changePassword" (click)="onDonePasswordChange()" class="btn waves-effect bg-blue waves-light"
                    type="submit">Submit</button>
                  <div class="switch" *ngIf="donePasswordChange">
                    <label>
                      Change Password
                      <input (change)="onChangePassword()" type="checkbox">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="editFields" style="margin-left: 100px; width: 700px !important;">
              <div class="body">
                <form [formGroup]="customerForm">
                  <div class="input-group">
                    <div class="form-line">
                      <input formControlName="surname" type="text" class="form-control" placeholder="Surname" required="autofocus" />
                    </div>
                  </div>

                  <div class="input-group">
                    <div class="form-line">
                      <input formControlName="otherNames" type="text" class="form-control" placeholder="Other Names"
                        required />
                    </div>
                  </div>

                  <div class="input-group">
                    <div class="form-line">
                      <input type="email" formControlName="email" class="form-control" placeholder="Email Address"
                        required="" />
                    </div>
                  </div>

                  <div class="input-group">
                    <div class="  ">
                      <input type="text" formControlName="telephone" class="form-control" placeholder="Telephone"
                        required="" />
                    </div>
                  </div>

                  <div class="input-group">
                    <div class="form-line">
                      <input type="text" formControlName="profession" placeholder="Profession" required="" />
                    </div>
                  </div>


                  <div class="input-group">
                    <div class="form-line">
                      <textarea class="form-control" formControlName="address" minlength="11" placeholder="Address"
                        required=""></textarea>
                    </div>
                  </div>

                  <button (click)="onDoneEdit()" class="btn btn-block btn-lg bg-pink waves-effect" type="button">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
