<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="defaultModalLabel">Transactions</h4>
    </div>
    <div class="modal-body">
      <div class="body table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">20 Medium</td>
              <td>1</td>
              <td>&#8358;15,000</td>
              <td>&#8358;15,000</td>
            </tr>
            <tr>
              <td scope="row">40 Power</td>
              <td>1</td>
              <td>&#8358;40,000</td>
              <td>&#8358;40,000</td>
            </tr>
            <tr>
              <td scope="row">3.7M VSAT Antena/Dish</td>
              <td>1</td>
              <td>&#8358;120,000</td>
              <td>&#8358;120,000</td>
            </tr>
            <tr>
              <td scope="row">iDirect VSAT Sattelite</td>
              <td>1</td>
              <td>&#8358;170,000</td>
              <td>&#8358;170,000</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="grd-total">Grand Total</td>
              <td class="grd-total">&#8358;345,000</td>
            </tr>>
          </tbody>
        </table>
       
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
    </div>
  </div>
</div>