<section>
  <br>
  <div class="det-layout">
    <div class="lft">
      <div class="col-lg-12">
        <div class="hpanel hblue contact-panel">
          <div class="panel-body">
            <h5>20 Unlimited Gold</h5>
            <h2>200 Gb</h2>
            <br>
            <div class="fnt-img">
              <i class="fab fa-cloudscale"></i>
            </div>
            <br>
            <h6>1.5 Mbps Up-To-Speed</h6>
            <h5>Valid for 30 days</h5>
          </div>
          <!-- <div class="panel-footer contact-footer">
            <div class="row">
              <div class="col-md-4 border-right">
                <div class="contact-stat">
                  <span>Projects</span>
                  <strong>200</strong>
                </div>
              </div>
              <div class="col-md-4 border-right">
                <div class="contact-stat">
                  <span>Projects</span>
                  <strong>200</strong>
                </div>
              </div>
              <div class="col-md-4 border-right">
                <div class="contact-stat">
                  <span>Projects</span>
                  <strong>200</strong>
                </div>
              </div>
            </div>
          </div> -->
        </div>

      </div>
      <!-- <img src="../../../../../assets/img/modem.jpg" alt="product-1"> -->
    </div>
    <div class="rht">
      <h3>&#8358;120,000</h3>
      <!-- <small>In stock (60 items available)</small> -->
      <form class="form-horizontal" style="margin: 10px 0;">
        <div class="row clearfix">
          <div class=" col-sm-4 form-control-label">
            <label for="quantity">Quantity:</label>
          </div>
          <div class="col-md-8">
            <div class="form-line">
              <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control"
                placeholder="Enter Quantity">
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class=" col-sm-8 form-control-label">
            <label for="quantity">Select Device:</label>
          </div>
          <div class="dropdown">
            <div class="col-md-12">
              <select class="form-control show-tick">
                <option>Haiwei Modem</option>
              </select>
            </div>
          </div>
        </div>
      </form>

      <button class="btn btn-block btn-lg bg-red waves-effect" type="button"> <i
          class="material-icons">shopping_cart</i>Add
        To Cart (0)</button>
      <!-- <h4>Description</h4>
      <p></p>
      <table class="count">
        <tbody>
          <tr>
            <td>Product Code:</td>
            <td class="right-align"><strong></strong> </td>
          </tr>
          <tr>
            <td>Model:</td>
            <td class="right-align"><strong></strong></td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</section>