section {
  margin: 50px;
  .det-layout {
    display: inline-flex;
    .lft {
      width: auto;
      img {
        padding: 10px;
        max-height: 450px !important;
        border: 1px solid #b9b7b7;
      }
    }
    .rht {
      float: right;
      margin-left: 20px;
      h3 {
        margin-top: 0px !important;
      }
      button {
        i {
          margin-right: 10px;
        }
      }
      button:hover {
        color: white;
      }
    }
  }
}

.form-control {
  background-color: transparent !important;
}

.count {
  border: 1px solid #e0e0e0;
  td {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
  }
}

.count tr td {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}

.form-control-label {
  text-align: left !important;
}
